// @import "scss/app";
// @import "scss/app/app";

@font-face {
	font-family: font1;
	font-display: swap;
	src: url('../src/assets/fonts/2.fddf2189853baef1417d.woff2')
}

@font-face {
	font-family: tengwar;
	src: url('../src/assets/fonts/tengwar.woff');
}

body {
	margin: 0;
	background-color: rgb(31, 31, 31);
	color: white;
}

main, app-index {
	flex-grow: 1;
	display: flex;
	overflow-x: hidden;
}